<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swamizone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style2.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">
    {% block css_import %}
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  </head>

  <body class="{% block body_tag %}home{% endblock %}">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Swami</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="li_nav"><a href="/">Home</a></li>
              <li class="li_nav"><a href="/beer">Beer</a></li>
              <li class="li_nav"><a href="/test_area_two">Edit</a></li>
              <li class="li_nav"><a href="/blog">Blog</a></li>
              <li class="li_nav"><a href="/test_area">Old page</a></li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav pull-right">
              <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">Profile</a></li>
                  <li class="divider"></li>
                  <!--<li class="nav-header">Nav header</li>-->
                  <li><a href="/logout">Log out</a></li>
                </ul>
              </li>
            </ul>
              
            {% else %}
            <form class="navbar-form pull-right" method="link" action="/register" style="padding-left: 5px">
              <input type="submit" class="btn btn-success" value="Register">
            </form>

            <form class="navbar-form pull-right" method="post" action="/login/">
              {% csrf_token %}
              <input class="span2" name="username" type="text" placeholder="User" id="id_username">
              <input class="span2" name="password" type="password" placeholder="Password" id="id_password">
              <input type="submit" class="btn btn-primary" value="Log in" />
              <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            </form>
            
            {% endif %}

            
            
          </div><!--/.nav-collapse -->
        </div><!--end container-->
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        
          <div class="span9">
            {% block content %}
              <div class="hero-unit">
                <h1>Welcome</h1>
                <p>This is my website. You can register and log in here. Not much more than that at the moment.</p>
                <p><a href="http://www.google.com/" class="btn btn-primary btn-large" target="_blank">Some link &raquo;</a></p>
              </div>
            {% endblock %}
          </div>
          <div class="span3">
            {% block sidebar %}
            {% endblock %}
          </div>

      </div>
    </div>
    <hr>
    <footer>
    <p class="pagination-centered">Website made by <a href="mailto:swami@swami.webfactional.com">Akseli Nelander</a>, with lots of help from <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>. Powered by <a href="https://www.djangoproject.com/">Django</a>.</p>
    </footer>
 <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
    {% block js_import %}
    {% endblock %}
  </body>
</html>
