{% extends "base.html" %}
{% block sidebar %}
<h3>About beer:</h3>
I like them.	
{% endblock %}
{% block content %}
	<div class="span6">
		<h3>Beer with respective breweries in my database:</h3>
		<table class="table table-striped">
			<th>Beer</th><th>Brewery</th>
			{% for beer in beers %}
			<tr><td><a href="/beer/{{ beer.slug }}/">{{ beer }}</a></td><td><a href="/breweries/{{ beer.brewery.slug }}/">{{ beer.brewery }}</a></td></tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}