{% extends 'base.html' %}
{% block content %}
<div class="span8">
<div id="blog_post">
	<div id="blog_title">
		<h2>{{ post.title }}</h2>
	</div>
	<div id="blog_created">
		<p>Posted on {{ post.created }} by {{ post.author }}</p>
	</div>
	<div id="blog_body">
		<p>{{ post.body|linebreaks }}</p>
	</div>
</div>
<br>
{% if post.comment_set.all %}
<h3>Comments:</h3><br>
{% for comment in post.comment_set.all %}
<div id="blog_comment">
	<div id="comment_created">
		<p>{{ comment.created }} by {{ comment.author }}</p>
	</div>
	<div id="comment_body">
		<p>{{ comment.body }}</p>
	</div>
</div>
{% endfor %}
<br>
{% endif %}
{% if user.is_authenticated %}
<form action="" method="post">
	{% csrf_token %}
<label for="id_body">Write a comment:</label>
<textarea id="id_body" rows="10" cols="100" name="body"></textarea>
<p><input type="submit" name="submit" value="Submit" class="btn btn-primary" /></p>
</form>
{% else %}
<p>You need to be <a href="/login/">logged in</a> to comment</p>
{% endif %}
</div>
{% endblock %}
